.container {
  text-align: center;
  position: relative;
}

.scrolling-title {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
